body{
  background-color: #caf0f8;
  font-family: "Arial Rounded MT Bold", sans-serif; 
}

.topLine{
  background-color: #023e8a; 
  height: 30px;
  width: 100%;
  margin: -10px -20px 0;
  padding: 10px 20px; 
  }
  
  .topDiv {
    color: #ffffff; 
    background: linear-gradient(to left, #5390d9, #7400b8);
    height: 35px;
    width: 150px;
    right: 20px;
    top: 10px;
    float: right;
    position: absolute;
    font-weight: bold; 
    font-size: 20px; 
    border-radius: 7px;
    text-align: center;
    line-height: 35px;
  }

.information{  
  background-color: #00b4d8;
  border: 2px solid #023e8a;
  width: 1000px;
  height: 300px;
  border-radius: 10px;
  margin: 0 auto; 
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px; 
}

.information > .info_box{
background-color: #caf0f8;
border: 2px solid #0077b6;
color: #023e8a;
width: calc(70% - 27px);
height: calc(20% - 22px);
border-radius: 10px;
margin: 5px; 
padding-left: 10px;
gap: 10px; 
}

.information > .label{
width: calc(30% - 32px);
height: calc(20% - 22px);
border-radius: 10px;
margin: 5px; 
font-weight: bold;
color: #023e8a;
padding-left: 10px;
vertical-align: top;
gap: 10px; 
}

.box {
  background-color: #0077b6;
  border: 2px solid #0077b6;
  width: 150px;
  height: 100px;
  margin: 5px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  margin-top: 25px;
  flex-shrink: 1; /* Allow boxes to shrink if they don't fit */
}

.cashier-box {
  background-color: #ffb703;
  border: 2px solid #fb8500;
  border-width: 5px;
  border-radius: 10px;
  margin-top: 25px;
  margin-right: 50px;
  font-weight: bold;
}

#animation-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: flex-start; /* Align content to the left horizontally */
  height: 200px; /* Set a fixed height for the container */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.columna {
  display: inline-block;
  width: calc((100% / 7) - 30px); /* Divide el ancho en 7 columnas iguales */
  text-align: center;
  border: 1px solid black;
  padding: 8px;
  /*display: flex;
  flex-wrap: wrap; /* Permitir envoltura de elementos en múltiples líneas */
  justify-content: space-between; /
}

.table{  
  background-color: #00b4d8;
  border: 2px solid #023e8a;
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  margin: 0 auto; 
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center; /* Alinea los elementos horizontalmente en el centro */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.table-process{
  background-color: #caf0f8;
  display: inline-block;
  width: calc((100% / 10)); /* Divide el ancho en 7 columnas iguales */
  text-align: center;
  border: 2px solid #0077b6;
  padding: 8px;
  justify-content: space-between; 
  border-radius: 10px;
  margin: 5px; 
  padding-left: 10px;
  gap: 10px; 

}

.table-label{
  background-color: #caf0f8;
  font-weight: bold;
  color: #023e8a;
  display: inline-block;
  width: calc((100% / 10)); /* Divide el ancho en 7 columnas iguales */
  text-align: center;
  border: 2px solid #0077b6;
  padding: 8px;
  justify-content: space-between; 
  border-radius: 10px;
  margin: 5px; 
  padding-left: 10px;
  gap: 10px; 

}